/**************************************
GENERAL
**************************************/

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

body {
	font-family: 'Bitter', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {

  max-width: 100%;
}

img li {
  max-width: ;
}

.homepagegoat {

  max-width: 400px;
  float:left;
  display: block;
  margin:0 20px 20px 0;
}

/**************************************
HEADING
**************************************/

header {
  background: #3498db;
  border-color:;
  float:left;
  width: 100%;
  margin:0 0 30px 0;
  padding:5px 0 0 0;
}

h1 {
  margin: 15px 0;
  font-size: 3em;
  font-weight: normal;
  line-height: ;
}
h2{
  font-size: 4em;
  margin:-5px 0 0;
  font-weight: normal;

}

h1, h2 {
  color:white;

}


#logo {
  text-align: center;
  margin:0;
}


/**************************************
NAVIGATION
**************************************/

nav {
  background-color: #2980b9;
  text-align: center;
  padding:5px 0;
  margin: 15px 0 0;
}

nav a, nav a:visited {
  color:white;
}

nav a.selected, nav a:hover {
  color:#bdc3c7;
}

/**************************************
FOOTER
**************************************/

#main-footer {

  font-size: 0.75em;
  text-align: center;
  padding-top:10px ;
  padding-bottom:10px ;
  margin:0 0 0 0 ;
  background-color: #3498db;
  color: white;
}

/*border-bottom: solid 60px #3498db; */

/**************************************
COLORS
**************************************/

/**************************************
HOMEPAGE
**************************************/

#main-content {
  max-width: 940px;
  margin:0 auto;
  padding: 0 5%;
}

.container {

  max-width: 1200px;
  margin: 0 auto;

}



/**************************************
CONTACT PAGE
**************************************/

/**************************************
GALLERY PAGE
**************************************/

#GALLERY {
  margin:0;
  padding:0;
  list-style: none; /* in this instance list style is a redundecny but it normally removes bullet points from a list*/
}

#gallery li {
  float: ;
  width:45%;
  margin: 2.5%;
}

#gallery img {
  max-width: 50%;
  max-height: 150px;

}

/* LIGHTBOX */

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
  margin-top:10%;
  
}

#overlay p {
color:white;
}
                 

