@media (max-width: 550px) {
  .homepagegoat {float:none;}
  .section-left, 
  .section-right {width:100%; float:none; margin-left:0;}
  #map-canvas {width:100%; float:none; height:275px;}
  .location-text {float:none; width:100%;} 
}